{% extends 'base.html' %}


{% block title %}
  V is gay 
{% endblock title %}


{% block content %}
  <header>
    <h1>Welcome to the website</h1>
  </header>

  <section class="desc">  <!--Description of the website-->
    <p>Here you can find all the information you need to know about the website.</p>
  </section>

  <section> <!--Section for the login-->
    <h2>Please log in here:</h2>

    <form action="/" method="POST">
      {% csrf_token %}
      
      {{ form }}

      <button>submit</button>
    </form>
  </section>
{% endblock content %}